* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.25;
  font-weight: 500;
  color: rgb(80, 78, 78);
  background-color: #f1f3f5;
  padding-bottom: 30px;
}
header {
  width: 99%;
  margin: 0 auto;
  background-color: #66d9e8;
  background-image: linear-gradient(
      rgba(59, 200, 219, 0.7),
      rgba(102, 217, 232, 0.7)
    ),
    url(blog-header-flight.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: 0px 60%;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  min-height: 125px;
}

header h1 {
  font-size: 32px;
  text-align: center;
  max-width: 800px;
  margin-left: 15%;
  margin-right: 15%;
  color: rgba(34, 32, 32, 0.895);
}
.current-date {
  font-weight: 700;
}
.dp-info,
.ar-info {
  font-weight: 700;
}

.container {
  width: 85%;
  margin: 10px auto;

  border-radius: 10px;
}
.tab-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 16px;
}
.switch-container {
  height: 70px;
  background-color: #ced4da;
  background-image: linear-gradient(
    to right,
    #ced4da,
    rgba(226, 229, 233, 0.362),
    #ced4da
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.switch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.switch-box span {
  color: black;
}
#toggle-btn {
  display: none;
  transition: all 10s;
}

.switch-box label {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  border-width: 20px;
  border-color: aqua;
  cursor: pointer;
}
.switch-box label:before {
  position: absolute;
  left: 0px;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: #1c7ed6;
  border-radius: 50%;
  transition: left 350ms linear;
}
#toggle-btn:checked + label:before {
  left: 30px;
}

.load-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.load-early:link,
.load-early:visited {
  display: inline-block;
  background-color: #f76707;
  text-align: center;
  height: auto;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  font-weight: 500;
}

.load-early:hover,
.load-early:active {
  background-color: #cf711f;
}
.load-more:link,
.load-more:visited {
  display: inline-block;
  background-color: #12b886;
  text-align: center;
  height: auto;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  font-weight: 500;
}
.load-more:hover,
.load-more:active {
  background-color: #10a679;
}

.no-more {
  width: auto;
  text-align: center;
  height: auto;
  padding: 7px 7px;
}

.flight-component {
  background-color: #fcffff;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.07);
  row-gap: 15px;
  margin-bottom: 18px;
}

.airport {
  grid-column: 1/-1;
  width: fit-content;
}

.decoration {
  text-decoration: underline;
}
.hidden {
  display: none;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 28px;
    line-height: 1.2;
  }
  body {
    font-size: 16px;
  }
  header {
    height: 20vh;
  }
}
